{% extends "base.html" %}
{% block title %}GAM{% endblock %}

{% load staticfiles %}

{% block content %}
<p>
El Grupo de Apoyo Mutuo es una organización de la sociedad civil sin fines de lucro creada en 1984 que aglutina a los familiares de personas detenidas ilegalmente y desaparecidas forzadamente en Guatemala durante el Conflicto Armado Interno que duró de 1960 a 1996.

 

Nuestro ámbito de trabajo abarca la justicia por el desaparecido y la dignificación de las víctimas, trabajo que ha llevado a GAM a estar nominado por el Premio Nobel de la Paz en 1986. Además elaboramos informes temáticos relacionados a los índices de violencia actuales y monitoreo a las instituciones que conforman el sector de seguridad y justicia.</p>
{% endblock  %}

