{% extends "base.html" %}

{% block extra_static %}
<style>
.sea-icon{
  height: 30px;
  width: 30px;
}
</style>
{% endblock %}


{% load staticfiles %}
{% load i18n %}


{% block title %}GAM{% endblock %}

{% block content %}

{% if form %}
   <form action="" method="post">
    {% csrf_token %}
      <table>
        {{ form.search }} 
        <input type="submit" value="Buscar" /> 
      </table>
    </form>
   </div>
{% endif %}


{% if state %}
<div>
{% if previous_caja %}
  <div class="col-sm-2">
<a class="previous" href="{% url 'documento2' location.archivo location.colección previous_caja %}"> < {% trans "Anterior" %} :</a>

{% endif %}
{% if next_caja %}
<a href="{% url 'documento2' location.archivo location.colección next_caja %}">{% trans "Siguiente" %} ></a>
</div>
{% endif %}
{% if previous_legajo %}
  <div class="col-sm-2">
<a href="{% url 'documento3' location.archivo location.colección location.caja previous_legajo %}"> < {% trans "Anterior" %} :</a>

{% endif %}
{% if next_legajo %}
<a href="{% url 'documento3' location.archivo location.colección location.caja next_legajo %}">{% trans "Siguiente" %} ></a>
</div>
{% endif %}

{% if previous_carpeta %}
  <div class="col-sm-2">
<a href="{% url 'documento4' location.archivo location.colección location.caja location.legajo previous_carpeta %}"> < {% trans "Anterior" %} :</a>

{% endif %}
{% if next_carpeta %}
<a href="{% url 'documento4' location.archivo location.colección location.caja location.legajo next_carpeta %}">{% trans "Siguiente" %} ></a>
</div>
{% endif %}  

<a href="{% url 'documento0' location.archivo %}">{{ location.archivo }}</a>

{% if location.colección %}
> <a href="{% url 'documento1' location.archivo location.colección %}">{{ location.colección }}</a>
{% endif %}

{% if location.caja %}
> <a href="{% url 'documento2' location.archivo location.colección location.caja %}">{% trans "Caja" %}: {{ location.caja }}</a>
{% endif %}

{% if location.legajo %}
> <a href="{% url 'documento3' location.archivo location.colección location.caja location.legajo %}">{% trans "Legajo" %}: {{ location.legajo }}</a>
{% endif %}

{% if location.carpeta %}
> <a href="{% url 'documento4' location.archivo location.colección location.caja location.legajo location.carpeta %}">{% trans "Carpeta" %}: {{ location.carpeta }}</a>
{% endif %}

{% if location.número_de_imagen %}
> <a href="{% url 'documento5' location.archivo location.colección location.caja location.legajo location.carpeta location.número_de_imagen %}">{% trans "Número de imagen" %}: {{ location.número_de_imagen }}</a>
{% endif %}
{% if carpeta_info %}
<br>
<br>{% for item in carpeta_info %}<p>{{ item.descripcion_caso }}</p>{% endfor %}
<hr>
</div> {% endif %}
<br>
<hr>
<style>

.highlight {
    opacity: 0.4;
    filter: alpha(opacity=40);
    border: 3px solid #fae746;
    outline: 4px auto #fae746;
    background-color: black;
}
</style>

<script type="text/javascript" src="{% static 'js/openseadragon.min.js' %}"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/Pin0/openseadragon-justified-collection/1.0.2/dist/openseadragon-justified-collection.min.js"></script>

<span>
   <img src={% static 'openseadragon-flat-toolbar-icons/images/zoomin_rest.png' %}   id='zoom-in' class='sea-icon'>
   <img src={% static 'openseadragon-flat-toolbar-icons/images/zoomout_rest.png' %}  id='zoom-out' class='sea-icon'>
   <img src={% static 'openseadragon-flat-toolbar-icons/images/home_rest.png' %}     id='home'  class='sea-icon'>
   <img src={% static 'openseadragon-flat-toolbar-icons/images/fullpage_rest.png' %} id='full-page' class='sea-icon'  >
   <img src={% static 'openseadragon-flat-toolbar-icons/images/rotateleft_rest.png' %} id='left-rotate' class='sea-icon'>
   <img src={% static 'openseadragon-flat-toolbar-icons/images/rotateright_rest.png' %}     id='right-rotate' class='sea-icon'>
</span>
<div id="openseadragon1" style="width:100%; height: 100%;"></div>
<script src="{% static 'js/openseadragon-viewerinputhook.min.js' %}"></script>

<script type="text/javascript">
var EDIT_BUTTON_URL = "/static/edit_button.png";
var ITEMS = [];
var SRCS = [];

{% for item in state %}
ITEMS.push([
    "{{ item.nombre_del_archivo }}",
    "{% url 'documento5' item.archivo item.colección item.caja item.legajo item.carpeta item.número_de_imagen %}",
    "{{ item.localizacion_fisica }}"
]);
//SRCS.push("/dzi/{{ item.nombre_del_archivo }}.dzi")
SRCS.push("https://dzis.nyc3.digitaloceanspaces.com/{{ item.nombre_del_archivo }}.dzi")
{% endfor %}

</script>
<script src="{% static 'gam_app/js/procesamiento.js' %}"></script>
</div>


</div> 
</center>
    
<script>
function myFunction() {
  // Declare variables 
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("stateTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    } 
  }
}
</script>

    
{% else %}
  <p>{% trans "Inicia sesión para ver este contenido" %}</p>
{% endif %}
{% endblock %}
