{% extends "base.html" %}
{% block title %}GAM{% endblock %}

{% block content %}

{% if form %}

           <form action="" method="post">
        {% csrf_token %}
        <table>
        {{ form.search }} 
        <input type="submit" value="Buscar" /> 
        </table>
    </form>
   </div>
 


{% endif %}


{% if state %}
  

<a href="/{{ location.archivo }}/">{{ location.archivo }}</a>

{% if location.colección %}
> <a href="/{{ location.archivo }}/{{ location.colección }}/">{{ location.colección }}</a>
{% endif %}

{% if location.caja %}
> Caja: <a href="/{{ location.archivo }}/{{ location.colección }}/{{ location.caja }}/">{{ location.caja }}</a>
{% endif %}

{% if location.legajo %}
> Legajo: <a href="/{{ location.archivo }}/{{ location.colección }}/{{ location.caja }}/{{ location.legajo }}/">{{ location.legajo }}</a>
{% endif %}

{% if location.carpeta %}
> Carpeta: <a href="/{{ location.archivo }}/{{ location.colección }}/{{ location.caja }}/{{ location.legajo }}/{{ location.carpeta }}/">{{ location.carpeta }}</a>
{% endif %}

{% if location.número_de_imagen %}
> Número de imagen: <a href="/{{ location.archivo }}/{{ location.colección }}/{{ location.caja }}/{{ location.legajo }}/{{ location.carpeta}}/{{ location.número_de_imagen }}/">{{ location.número_de_imagen }}</a>
{% endif %}

 <table class="resource_table">
  <tr>
    <th>Ubicación</th>
    <th>Imagen</th>
  </tr>  
    <ul>
{% for item in state %}
  <tr>
   <td> <p><a href="/file/{{ item.nombre_del_archivo }}"><p>{{ item.localizacion_fisica }}</p></a></td>
   <td> <p><a href="/file/{{ item.nombre_del_archivo }}"><img src={{ item.miniatura }}></a></td>
</tr>

{% endfor %}
</table>
</ul>
    
<script>
function myFunction() {
  // Declare variables 
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("stateTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    } 
  }
}
</script>

    
{% else %}
    <p>Inicia sesión para ver este contenido</p>
{% endif %}
{% endblock %}
