{% extends "base.html" %}
{% block title %}GAM{% endblock %}

{% block content %}


{% if state %}
<a href="/{{ location.archivo }}/">{{ location.archivo }}</a>

{% if location.colección %}
> <a href="/{{ location.archivo }}/{{ location.colección }}/">{{ location.colección }}</a>
{% endif %}

{% if location.caja %}
> Caja: <a href="/{{ location.archivo }}/{{ location.colección }}/{{ location.caja }}/">{{ location.caja }}</a>
{% endif %}

{% if location.legajo %}
> Legajo: <a href="/{{ location.archivo }}/{{ location.colección }}/{{ location.caja }}/{{ location.legajo }}/">{{ location.legajo }}</a>
{% endif %}

{% if location.carpeta %}
> Carpeta: <a href="/{{ location.archivo }}/{{ location.colección }}/{{ location.caja }}/{{ location.legajo }}/{{ location.carpeta }}/">{{ location.carpeta }}</a>
{% endif %}

{% if location.número_de_imagen %}
> Número de imagen: <a href="/{{ location.archivo }}/{{ location.colección }}/{{ location.caja }}/{{ location.legajo }}/{{ location.carpeta}}/{{ location.número_de_imagen }}/">{{ location.número_de_imagen }}</a>
{% endif %}

 <table class="resource_table">
  <tr>
    <th>Ubicación</th>
    <th>Imagen</th>
  </tr>  
    <ul>
{% for item in state %}
  <tr>
   <td> <p><a href="/file/{{ item.nombre_del_archivo }}"><p>{{ item.localizacion_fisica }}</p></a></td>
   <td> <p><a href="/file/{{ item.nombre_del_archivo }}"><img src={{ item.miniatura }}></a></td>
</tr>

{% endfor %}
</table>
</ul>
    


    
{% else %}
    <p>Inicia sesión para ver este contenido</p>
{% endif %}
{% endblock %}
