{% extends "base.html" %}
{% block title %}GAM{% endblock %}

{% block content %}
{% if state %}
<table class="resource_table">
  <tr>
    <th>Caso</th>
    <th>Fecha desaparicion</th>
    <th>Departamento</th>
    <th>Caja</th>
    <th>Legajo</th>
    <th>Carpeta</th>
  </tr>
    <ul>
{% for item in state %}
  <tr>
   <td> <a href="/caso/{{ item.caso }}">{{ item.caso }}</a></td>
   <td> {{ item.fecha_desaparicion }}</td>
   <td> {{ item.departamento }} </td>
   <td> {{ item.caja_no }} </td>
   <td> {{ item.legajo_no }} </td>
   <td> {{ item.carpeta_no }} </td>
</tr>  
{% endfor %}
</ul>
    


    
{% else %}
    <p>Ningún documento con ese nombre de archivo</p>
{% endif %}
{% endblock %}
