{% extends "base.html" %}
{% block title %}GAM{% endblock %}

{% block content %}
{% if state %}
<table class="resource_table">
  <tr>
    <th>Caso</th>
    <th>Fecha de desaparición</th>
    <th>Departamento</th>
  </tr>
    <ul>
{% for item in state %}
  <tr>
   <td> <a href="/caso/{{ item.caso }}">{{ item.caso }}</a></td>
   <td> {{ item.fecha_desaparicion }}</td>
   <td> {{ item.departamento }} </td>
</tr>   
{% endfor %}
</ul>
    


    
{% else %}
    <p>Inicia sesión para ver este contenido</p>
{% endif %}
{% endblock %}
