{% extends "base.html" %}
{% block title %}GAM{% endblock %}
{% load staticfiles %}
{% load i18n %}

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="{% static "js/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "js/ckeditor.js" %}"></script>

{% block content %}
{% if state %}

<a href="/{{ state.archivo }}/">{{ state.archivo }}</a>
> <a href="/{{ state.archivo }}/{{ state.colección }}/">{{ state.colección }}</a>
> <a href="/{{ state.archivo }}/{{ state.colección }}/{{ state.caja }}">{% trans "Caja" %}: {{ state.caja }}</a>

> <a href="/{{ state.archivo }}/{{ state.colección }}/{{ state.caja }}/{{ state.legajo }}/">{% trans "Legajo" %}: {{ state.legajo }}</a>

> <a href="/{{ state.archivo }}/{{ state.colección }}/{{ state.caja }}/{{ state.legajo }}/{{ state.carpeta }}/">{% trans "Carpeta" %}: {{ state.carpeta }}</a>

> <a href="/{{ state.archivo }}/{{ state.colección }}/{{ state.caja }}/{{ state.legajo }}/{{ state.carpeta }}/{{ state.número_de_imagen }}/">{% trans "Número de imagen" %}: {{ state.número_de_imagen }}</a>


{% if previous %}
<div align="right">
<a href="/{{ state.archivo }}/{{ state.colección }}/{{ state.caja }}/{{ state.legajo }}/{{ state.carpeta }}/{{ previous }}/"> < Espalda :</a>

{% endif %}
{% if next_one %}
<a href="/{{ state.archivo }}/{{ state.colección }}/{{ state.caja }}/{{ state.legajo }}/{{ state.carpeta }}/{{ next_one }}/">Adelante ></a>
</div>
{% endif %}

<br><br>
<p>{% trans "Nombre" %}: {% for name in state.persona.all %}<a href="/persona/{{ name }}">{{ name }}</a><br></p>{% endfor %}
<p>{% trans "Fecha desaparición" %}: {{ state.fecha_desaparicion }}<br></p>
<p>{% trans "Ubicación geográfica" %}: {% for place in state.ubicación_geográfica.all %}<a href="/lugar/{{ place }}">{{ place }}</a><br></p>{% endfor %}
     <p><a href="{{ state.url }}">Archivo de imagen</a></p>

  <form action="" method="post">
        {% csrf_token %}
{% for value in clipboard %}
<p>{% trans "Agregar al portapapeles" %}:</p>{{ value }}
{% endfor %}
<input type="submit" value="{% trans "Salvar" %}" />  
                <input type="hidden" value="clipboard" name="input" />
                <input type="hidden" value="{{ user }}" name="user" />
                <input type="hidden" value="{{ state.nombre_del_archivo }}" name="filename" />

  </form>


</div>
<hr>
<style>
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
</style>
<div class="row">
  <div class="column" style="background-color:#aaa;">
<script type="text/javascript" src="{% static 'js/openseadragon.min.js' %}"></script>

<div id="openseadragon1" style="width:100%; height: 200%;"></div>
<script type="text/javascript">
    var viewer = OpenSeadragon({
        id: "openseadragon1",
        tileSources: "/dzi/{{ state.nombre_del_archivo }}.dzi",
        showRotationControl: true
    });
</script>
</div>
<div class="column">
<form action="" method="post">
        {% csrf_token %}
        {{ form.media }}
        <input type="submit" value="{% trans "Guardar cambios de texto" %}" />
        {{ form.texto_de_OCR|linebreaksbr }}
        
        <input type="hidden" value="{{ state.nombre_del_archivo }}" name="nombre_del_archivo" />
        <input type="hidden" value="{{ state.archivo }}" name="archivo" />
        <input type="hidden" value="{{ state.colección }}" name="colección" />
        <input type="hidden" value="{{ state.caja }}" name="caja" />
        <input type="hidden" value="{{ state.legajo }}" name="legajo" />
        <input type="hidden" value="{{ state.carpeta }}" name="carpeta" />
        <input type="hidden" value="{{ state.texto_de_OCR }}" name="old_text" />
        <input type="hidden" value="text_edit" name="input" />

    </form>


</div>

  </ul>  

{% else %}
<p>{% trans "Ningún documento con ese nombre de archivo" %}</p>
{% endif %}
{% endblock %}
