{% extends "base.html" %}
{% block title %}GAM{% endblock %}

{% block content %}
{% if state %}
  
<script type="text/javascript" src="{% static 'js/openseadragon.min.js' %}"></script>

<div id="openseadragon1" style="width:100%; height: 200%;"></div>
<script type="text/javascript">
    var viewer = OpenSeadragon({
        id: "openseadragon1",
    });
</script>
</div>
    <ul>
{% for item in state %}
<script type="text/javascript">
	viewer.addTiledImage({
    tileSource: '{{ item.dzi }}',
    x: 5,
    y: 0,
    width: 10
});
</script>

{% endfor %}
</ul>
    


    
{% else %}
    <p>No document with that filename</p>
{% endif %}
{% endblock %}
