{% extends "base.html" %}
{% block title %}GAM{% endblock %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
{% if state %}
{% trans "Archivo" %}: <a href="/{{ state.archivo }}/">{{ state.archivo }}</a>
> {% trans "Colección" %}: <a href="/{{ state.archivo }}/{{ state.colección }}/">{{ state.colección }}</a>
> {% trans "Caja" %}: <a href="/{{ state.archivo }}/{{ state.colección }}/{{ state.caja }}">{{ state.caja }}</a>

> {% trans "Legajo" %}: <a href="/{{ state.archivo }}/{{ state.colección }}/{{ state.caja }}/{{ state.legajo }}/">{{ state.legajo }}</a>

> {% trans "Carpeta" %}: <a href="/{{ state.archivo }}/{{ state.colección }}/{{ state.caja }}/{{ state.legajo }}/{{ state.carpeta }}/">{{ state.carpeta }}</a>

> {% trans "Número de imagen" %}: <a href="/{{ state.archivo }}/{{ state.colección }}/{{ state.caja }}/{{ state.legajo }}/{{ state.carpeta }}/{{ state.número_de_imagen }}/">{{ state.número_de_imagen }}</a><br><br>

  <ul>
    <p>{% trans "Nombre" %}: {% for name in state.nombre_de_la_persona.all %}{{ name }}<br></p>{% endfor %}
    <p>{% trans "Fecha desaparición" %}: {{ state.fecha_desaparicion }}<br></p>
    <p>{% trans "Ubicación geográfica" %}: {% for place in state.ubicación_geográfica.all %}{{ place }}<br></p>{% endfor %}
    <p>{% trans "Número de víctimas" %}: {{ state.número_de_víctimas }}<br></p>
    <p>{% trans "Edad en ese momento" %}:  {{ state.edad_en_el_momento }}<br></p>
    <p>{% trans "Unidad policial o militar involucrada" %}:  {{ state.policial_o_militar }}<br></p>
    <p>{% trans "Número de páginas" %}: {{ state.conteo_de_páginas }}<br></p>
    <p><a href="{{ state.url }}">{% trans "Archivo de imagen" %}</a></p>
<hr>
<style>
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
</style>
<div class="row">
  <div class="column" style="background-color:#aaa;">
<script type="text/javascript" src="{% static 'js/openseadragon.min.js' %}"></script>

<div id="openseadragon1" style="width:100%; height: 200%;"></div>
<script type="text/javascript">
    var viewer = OpenSeadragon({
        id: "openseadragon1",
        tileSources: "{% url 'dzi' state.nombre_del_archivo %}.dzi"
    });
</script>
</div>
<div class="column">
<form action="editar" method="post" id="edit">
  {% csrf_token %}

  <p>{% trans "Texto" %}:<br>
<textarea rows="30" cols="60" name="ocr_text" form="edit">
{{ state.texto_de_OCR }}</textarea>
<input type="submit" value="{% trans "Enviar" %}" />
</form>
</div>
  </ul>  
{% else %}
<p>{% trans "Ningún documento con ese nombre de archivo" %}</p>
{% endif %}
{% endblock %}
