{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% load i18n %}


{% block extra_static %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script scr="//code.jquery.com/jquery-3.3.1.js"></script>
{% endblock %}

{% block content %}
<br>
<h2>{% trans "Control de Misión" %}</h2>
<br>
<ul id="myTab" class="nav nav-tabs nav-justified">
  <li class="active"><a data-toggle="tab" href="#tab1-slug">
    {% trans "Transcripción y traducción" %}</a>
  </li>
  <li><a data-toggle="tab" href="#tab2-slug">
    {% trans "Procesamiento secundario" %}</a>
  </li>
</ul>

<div class="tab-content">
  <div id="tab1-slug" class="tab-pane fade in active">
    <br>
    <table class="resourceTable">
    <thead>
      <tr>
        <th>imagen</th>
        <th>transcription status</th>
        <th>translation status</th>
      </tr>
    </thead>
    </table>
  </div>


  <div id="tab2-slug" class="tab-pane fade">
    <br>
    <table class="resourceTable2">
    <thead>
      <tr>
        <th>Carpeta</th>
        <th>{% trans "Registros de persona" %}</th>
        <th>{% trans "Registros de lugar" %}</th>
        <th>{% trans "Registros de organizaciones" %}</th>
      </tr>
    </thead>
    </table>
  </div>

</div>
<script>
$(document).ready(function() {
    $('.resourceTable').DataTable( {
        "pageLength": 50,
        "processing": true,
        "serverSide": true,
        "ajax": "{% url 'imagen_list_json' %}",
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
        },
    } );
} );

$(document).ready(function() {
    $('.resourceTable2').DataTable( {
        "pageLength": 50,
        "processing": true,
        "serverSide": true,
        "ajax": "{% url 'carpeta_list_json' %}",
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
        },
        /// this works for filtering the status, but it is not functioning now...
        initComplete: function () {
            this.api().columns('.select').every( function () {
                var column = this;
                var select = $('<select><option value=""></option></select>')
                    .appendTo( $(column.header()) )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
 
                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );
 
                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' )
                } );
            } );
        }
    } );
} );

</script>
{% endblock %}

