{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% load i18n %}


{% block extra_static %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script scr="//code.jquery.com/jquery-3.3.1.js"></script>
{% endblock %}

{% block content %}
<br>
<h2>{% trans "Control de Misión" %}</h2>
<br>
<ul id="myTab" class="nav nav-tabs nav-justified">
  <li class="active"><a data-toggle="tab" href="#tab1-slug">
    {% trans "Bolsas" %}</a>
  </li>
  <li><a data-toggle="tab" href="#tab2-slug">
    {% trans "Transcripción y traducción" %}</a>
  </li>
  <li><a data-toggle="tab" href="#tab3-slug">
    {% trans "Procesamiento secundario" %}</a>
  </li>
</ul>

<div class="tab-content">
  <div id="tab1-slug" class="tab-pane fade in active">
    <br>
    <table class="resourceTable">
      <thead>
      <tr>
        <th>{% trans "número de bolso" %}</th>
        <th class="select">{% trans "status" %}</th>
      </tr> 
      </thead>
      <tbody>
      {% for bag in bags %}
      <tr>
        <td>{{ bag|slice:"-5:" }}</td>
        {% if bag in imported_bags %}
          <td>{% trans "importado"%}</td>
        {% else %}
          <td>{% trans "no importado"%}</td>
        {% endif %}
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  <div id="tab2-slug" class="tab-pane fade">
    <br>
    <table class="resourceTable">
    <thead>
      <tr>
        <th>imagen</th>
        <th class="select">transcription status</th>
        <th class="select">translation status</th>
      </tr>
    </thead>
    <tbody>
    {% for image in imagen %}
      <tr>
        <td><a target="_blank" href="{% url 'documento5' image.archivo image.colección image.caja image.legajo image.carpeta image.número_de_imagen %}">{{ image.localizacion_fisica }}</a></td>
        <td>{{ image.status }}</td>
        {% if image.traducción == '' %}
          <td>{% trans "sin traducción" %}</td>
        {% else %}
          <td>{% trans "traducido" %}</td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
    </table>
  </div>


  <div id="tab3-slug" class="tab-pane fade">
    <br>
    <table class="resourceTable">
    <thead>
      <tr>
        <th>Carpeta</th>
        <th class="select">{% trans "Registros de persona" %}</th>
        <th class="select">{% trans "Registros de lugar" %}</th>
        <th class="select">{% trans "Registros de organizaciones" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for folder in carpeta %}
      <tr>
        <td><a target="_blank" href="{% url 'procesamiento' folder.archivo folder.colección folder.caja folder.legajo folder.carpeta %}">{{ folder.colección }}/{{ folder.caja }}/{{ folder.legajo }}/{{ folder.carpeta}}</a></td>
        <td>{{ folder.person_status }}</td>
        <td>{{ folder.place_status }}</td>
        <td>{{ folder.organization_status }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </div>

</div>
<script>
$(document).ready(function() {
    $('.resourceTable').DataTable( {
        "pageLength": 50,
        initComplete: function () {
            this.api().columns('.select').every( function () {
                var column = this;
                var select = $('<select><option value=""></option></select>')
                    .appendTo( $(column.header()) )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
 
                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );
 
                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' )
                } );
            } );
        }
    } );
} );
</script>
{% endblock %}

