{% load staticfiles %}
{% load i18n %}

<header>
<a href="/"><img src="{% static 'Logo_01.png' %}" height="15%" width="10%"/>     </a>
</header>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav" aria-expanded="false" aria-controls="navbarNav" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
        <div id="navbarNav" class="collapse navbar-collapse">

          <ul class="nav navbar-nav">
            <li><a href="{% url 'sobre' %}">{% trans "Sobre" %}</a></li>
            <li><a href="/">{% trans "Buscar" %}</a></li>	
            <li><a href="{% url 'explorar' %}">{% trans "Explorar" %}</a></li>
            <li><a href="{% url 'portapapeles' %}">{% trans "Portapapeles" %}</a></li>
            <li><a href="{% url 'caso' %}">{% trans "Casos" %}</a></li>
            <li><a href="{% url 'all_texto' %}">{% trans "Sin imágenes" %}</a></li>
          </ul>
          <ul class="nav navbar-nav" style="float: right;">
            {% if not user.is_authenticated %}
            <li><a href="/cuentas/login/">{% trans "Iniciar sesión" %}</a></li>
            {% else %}
            <li><a href="/cuentas/logout/">{% trans "Cerrar sesión" %}</a></li>
            {% endif %} 
            <li>
              <form style="margin-top: 5px;" action="{% url 'set_language' %}" method="post">
                {% get_current_language as LANG %}
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}">
                <input name="language" type="hidden" value="{% if LANG == 'es' %}en{% else %}es{%endif %}">
                <input class="btn" type="submit" value="{% if LANG == 'es' %}English{% else %}Español{% endif %}">
              </form>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
