{% extends "base.html" %}
{% block title %}GAM{% endblock %}

{% block content %}
{% if state %}
  <ul>
    
   <p>Caso:  {{ state.caso }}<br></p>
   <p>Fecha desaparicion: {{ state.fecha_desaparicion }}<br></p> 
   <p>Departamento: {{ state.departamento }}<br>
      Local: {{ state.local }} <br>
      Area: {{ state.area }}<br>
      Ambiente: {{ state.ambiente }}<br>
      Estanteria no: {{ state.estanteria_no }}<br>
      Plato no:  {{ state.plato_no }} <br> 
      Caja no: {{ state.caja_no }}<br>
      Legajo no: {{ state.legajo_no }} <br>
      Carpeta no: {{ state.carpeta_no }}<br>
      Descripcion caso: {{ state.descripcion_caso }}<br></p>




  </ul>  
    
{% else %}
    <p>Ningún documento con ese nombre de archivo</p>
{% endif %}
{% endblock %}
