/*! CSS Used from: https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css */
strong{font-weight:700;}
@media print{
*,:after,:before{color:#000!important;text-shadow:none!important;background:0 0!important;-webkit-box-shadow:none!important;box-shadow:none!important;}
p{orphans:3;widows:3;}
}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
p{margin:0 0 10px;}
/*! CSS Used from: https://archivogam.haverford.edu/static/css/guatemala_style.css ; media=all */
@media all{
p,strong{background:0 0;border:0;margin:0;padding:0;vertical-align:baseline;outline:0;}
::selection{background:#ea9195;color:#fff;}
::-moz-selection{background:#ea9195;color:#fff;}
:-moz-placeholder,:-ms-input-placeholder,::-moz-placeholder,::-webkit-input-placeholder{color:#959595;margin:10px 0 0;}
}