table td,
table th {
	text-align: center
}

body,
h4 {
	color: #868686
}

h5,
h6 {
	line-height: 1.5em
}

h4,
h6 {
	letter-spacing: 0
}

.qodef-logo-wrapper a,
.qodef-testimonials .qodef-testimonial-image-holder img,
.wp-caption,
iframe,
img,
pre {
	max-width: 100%
}

.clearfix:after,
.qodef-container:after,
.qodef-drop-down .wide .second ul li:nth-child(4n+1) {
	clear: both
}

a,
abbr,
acronym,
address,
applet,
b,
big,
blockquote,
body,
caption,
center,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
u,
ul,
var {
	background: 0 0;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	outline: 0
}

body,
pre {
	background-color: #fff
}

a img,
table {
	border: none
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block
}

blockquote:after,
blockquote:before {
	content: '';
	content: none
}

del {
	text-decoration: line-through
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	vertical-align: middle;
	width: 100%
}

table th {
	border: 0;
	padding: 5px 7px
}

table td {
	padding: 5px 10px
}

.wp-caption,
img {
	height: auto
}

.clearfix:after,
.clearfix:before {
	content: " ";
	display: table
}

.clear:after {
	clear: both;
	content: "";
	display: block
}

html {
	height: 100%;
	margin: 0!important;
	-webkit-transition: all .33s ease-out;
	-moz-transition: all .33s ease-out;
	transition: all .33s ease-out;
	overflow-y: scroll!important
}

body {
	font-family: Raleway, sans-serif;
	font-size: 14px;
	line-height: 25px;
	font-weight: 400;
	overflow-x: hidden!important;
	-webkit-font-smoothing: antialiased
}

h1 {
	font-size: 62px;
	line-height: 1.2em;
	font-weight: 700;
	letter-spacing: 4px;
	font-family: Poppins, sans-serif;
	color: #0e0e0e;
	text-transform: uppercase
}

h2,
h3 {
	font-weight: 600;
	font-family: Poppins, sans-serif;
	text-transform: uppercase;
	color: #0e0e0e
}

h2 {
	font-size: 25px;
	line-height: 1.3em;
	letter-spacing: 1.6px
}

h3 {
	font-size: 20px;
	line-height: 1.25em;
	letter-spacing: 1px
}

h4 {
	line-height: 1.7em;
	font-weight: 400;
	font-size: 16px;
	font-family: Raleway, sans-serif
}

h5 {
	font-size: 15px;
	font-weight: 600;
	color: #0e0e0e;
	letter-spacing: 1.5px;
	font-family: Poppins, sans-serif;
	text-transform: uppercase
}

h6 {
	font-size: 16px;
	font-weight: 400;
	color: #0e0e0e;
	font-family: Georgia, sans-serif;
	font-style: italic;
	text-transform: capitalize
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	font-style: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	text-transform: inherit
}

a:hover,
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
p a:hover {
	color: #ea9195
}

a,
p a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
	-webkit-transition: color .15s ease-out;
	-moz-transition: color .15s ease-out;
	-o-transition: color .15s ease-out;
	-ms-transition: color .15s ease-out;
	transition: color .15s ease-out
}


ol,
ul {
	list-style-position: inside
}

pre {
	padding: 15px;
	white-space: pre-wrap;
	word-wrap: break-word;
	margin: 15px 0
}

dt {
	font-size: 15px;
	font-weight: 700;
	margin-bottom: 10px
}

dd {
	margin-bottom: 15px
}

sub,
sup {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sub {
	top: .5ex
}

sup {
	bottom: .5ex
}

.wp-caption-text {
	margin: 0;
	font-style: italic
}

table tbody tr,
table thead tr {
	border: 1px solid #e6e6e6
}

table tbody th {
	border-right: 1px solid #e6e6e6
}

blockquote:not(.qodef-blockquote-shortcode) {
	padding: 0;
	border: none;
	font-style: italic;
	font-size: 17px;
	line-height: 1.6em;
	margin: 20px 0
}

blockquote cite {
	font-style: normal;
	font-weight: 500
}