*.pyc
*.swp
*~
.DS_Store
*.log
*.pdf
index/
logs
uwsgi_params
*.save 

gam_app/dzis
gam_app/static/thumbnails
gam_app/static/documents
gam_app/static/*.png
gam_app/static/openseadragon-flat-toolbar-icons
gam_app/tracking.py
archivo/settings_secret.py
*.mo
