{% load i18n %}
{% load static %}
{% load staticfiles %}
{% get_current_language as LANGUAGE_CODE %}

{% block head %}
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
{% endblock %}

{% block content %}
<div id="jsGrid"></div>
<script src="{% static 'acceso/js/caso_index.js' %}"></script>
{% endblock %}
