{% extends 'acceso/base2.html' %}
{% load i18n %}
{% load static %}
{% load app_filters %}

{% block content1 %}
  <div id="page-wrapper">
    <!-- Header -->
    <div id="header">
  <!-- Inner -->
<div class="inner">
    <h1><a href="{% url 'index' %}" id="logo">Gam</a></h1>
    <hr />
    <p>{% trans "Una historia de desapariciones en Guatemala" %}</p>
    <a href="#main" class="button circled scrolly">{% trans "comienzo" %}</a>



            {% endblock %}


{% block content2 %}
<style>

	#header {
		background-image: url(https://archivogam.haverford.edu/static/pat_goudvis/{{ photo }});
	}
</style>
<body class="homepage is-preload">
  <div id="page-wrapper">
    <!-- Header -->
    <div id="header">
  <!-- Inner -->
        <div class="inner">

    <hr />
    <h4>{% trans "Casos del diario militar en los archivos del GAM" %}</h4>

    <a href="#main"><i class="fa fa-angle-double-down" style="font-size:58px;"></i></a>
      </div>
  </div>
<!-- History section -->
      <div class="container">
      <div class="row" style="margin-top:auto;">
   <div class="col-md-8" style="margin-top: 10%;">
    <div id="main" class="container special">
      <h2><a href="#">{% trans "Historia" %} </a></h2>
      <p>
      {% trans "Sobre la historia  summary aenean eu aenean mollis mollis facilisis primis ornare penatibus aenean. Cursus ac enim pulvinar curabitur morbi convallis. Lectus malesuada sed fermentum dolore amet." %}
    </p>
    <a href="{% url 'acceso:history' %}" class="button">{% trans "Sigue Leyendo Sobre la Historia" %}</a>

    </footer>
                      
  </article>

<!--End history section-->

  </div>
<!-- AJ grid  -->
<style>
.outer-box {
  border: black;
}

/* quick grid */
.container {
  width: 93%;
  margin: auto;
}

/* Bootstrap-style columns */
.column {
  position: relative;
  float: left;
  min-height: 1px;
  width: 25%;
  padding-left: 4px;
  padding-right: 4px;

  /* Space between tiles */
  margin-top: 8px;
}

.col-span {
  width: 50%;
}

.my-sizer-element {
  width: 8.33333%;
}

/* default styles so shuffle doesn't have to set them (it will if they're missing) */
.my-shuffle {
  position: relative;
  overflow: hidden;
}

/* Ensure images take up the same space when they load */
/* https://vestride.github.io/Shuffle/images */
.aspect {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
}

.aspect__inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.aspect--16x9 {
  padding-bottom: 56.25%;
}

.aspect--9x80 {
  padding-bottom: calc(112.5% + 8px);
}

.aspect--32x9 {
  padding-bottom: calc(28.125% - 3px);
}

img {
  display: block;
  width: 100%;

  max-width: none;
  height: 100%;
  object-fit: cover;
}

/* Small reset */
*,
::before,
::after {
  box-sizing: border-box;
}

figure {
  margin: 0;
  padding: 0;
  height:250px;
  width:250px;
}

/* Modal CSS */

/* The Modal (background) */
.modal {
  display:none;
  position:fixed;
  z-index:1;
  padding-top: 100px;
  left:0;
  top: 0;
  width:100%;
  height:100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 75%;
  height: 75%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: Black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
  cursor: pointer;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.row > .modal-column {
  padding: 0 8px;
}
.modal-column {
  float: left;
  width: 80px;
  height:105px;
  padding: 7px;
}

.col-md-8 {
  width: 100%;
  width: 25%;
  height:25%;
  padding: 7px;

}
</style>


<div class="container">
  <h2><a href="#">{% trans "Photos" %} </a></h2>
  <div class="row">
    <div class="col-4@sm col-3@md">
      <div class="filters-group">
        <label for="filters-search-input" class="filter-label">{% trans 'Buscar' %}</label>
        <input class="textfield filter__search js-shuffle-search" type="search" id="filters-search-input" />
      </div>
        <div>
            <br></br>

      </div>
    </div>


    <div class="col-12@sm filters-group-wrap">
      <div class="filters-group">
        <div class="btn-group filter-options">
		  {% for filter in filter_list %} 
		  <button class="btn btn--primary" data-group="{{ filter}}">{{ filter }}</button>
          {% endfor %}
        </div>
      </div>

    </div>
  </div>

</div>

<div class="container">
  <div id="grid" class="row my-shuffle-container">
   {% for photo in photo_list %}
   <figure class="picture-item" data-groups="{{ photo|filters }}">
      <div class="picture-item__inner hover-shadow">
        <div class="aspect aspect--16x9"> <!-- 16x9 -->
          <div class="aspect__inner" style="border: black; border-width: 5px; border-style: solid;">
		    <img class="cursor" src="{% static "diario_militar/thumbnails/" %}{{ photo.file|add:".thumbnail" }}" alt="{{ photo.folder }}" onclick="openModal();currentSlide({{ forloop.counter }})"/ >
          </div>
        </div>
      </div>
	  <div class="picture-item__title" style="width: 0px; height: 0px;">
		<p>{{ photo.folder}}</p>
	  </div>
    </figure>
   {% endfor %}

    <div class="col-1@sm col-1@xs my-sizer-element"></div>
  </div>
</div>

<!-- The modal/lightbox -->
<div id="myModal" class="modal">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content">
    {% for photo in photo_list %}	  
    <div class="mySlides">	
	  <div class="numbertext">{{ forloop.counter }} / {{ photo_list|length }}</div>
	  <img src="{% static "diario_militar/" %}{{ photo.file|add:".jpg" }}" style="width:100%">
	</div>
	{% endfor %}

	<!-- Next/previous controls -->
	<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
	<a class="next" onclick="plusSlides(1)">&#10095;</a>
  
	<!-- Caption Text -->
	<div class="caption-container">
	  <p id="caption" style="text-align:center"></p>
	</div>

	<!-- Thumnail image controls -->
    {% for photo in photo_list %}
    <div class="modal-column">
	  <img class="demo cursor" src="{% static "diario_militar/thumbnails/" %}{{ photo.file|add:".thumbnail" }}" onclick="currentSlide({{ forloop.counter }})" alt="{{ photo.folder }}">
	</div>
	{% endfor %}
  </div>
</div>
		  
<script>

let Shuffle = window.Shuffle;

class Demo {
  constructor(element) {
    this.element = element;
    this.shuffle = new Shuffle(element, {
      itemSelector: '.picture-item',
      sizer: element.querySelector('.my-sizer-element'),
    })

    // Log events.
    this.addShuffleEventListeners();
    this._activeFilters = [];
    this.addFilterButtons();
    this.addSorting();
    this.addSearchFilter();
  }

  /**
   * Shuffle uses the CustomEvent constructor to dispatch events. You can listen
   * for them like you normally would (with jQuery for example).
   */
  addShuffleEventListeners() {
    this.shuffle.on(Shuffle.EventType.LAYOUT, (data) => {
      console.log('layout. data:', data);
    });
    this.shuffle.on(Shuffle.EventType.REMOVED, (data) => {
      console.log('removed. data:', data);
    });
  }

  addFilterButtons() {
    const options = document.querySelector('.filter-options');
	if (!options) {
      return;
    }
   
	const filterButtons = Array.from(options.children);
    const onClick = this._handleFilterClick.bind(this);
    filterButtons.forEach((button) => {
      button.addEventListener('click', onClick, false);
    });
  }
  
  _handleFilterClick(evt) {
    const btn = evt.currentTarget;
    const isActive = btn.classList.contains('active');
    const btnGroup = btn.getAttribute('data-group');
    this._removeActiveClassFromChildren(btn.parentNode);

    let filterGroup;
    if (isActive) {
      btn.classList.remove('active');
      filterGroup = Shuffle.ALL_ITEMS;
    } else {
      btn.classList.add('active');
      filterGroup = btnGroup;
	}

    this.shuffle.filter(filterGroup);
  }

  _removeActiveClassFromChildren(parent) {
	const { children } = parent;
	for (let i = children.length - 1; i >= 0; i--) {
      children[i].classList.remove('active');
    }
  }

  addSorting() {
    const buttonGroup = document.querySelector('.sort-options');
	if (!buttonGroup) {
      return;
    }
    buttonGroup.addEventListener('change', this._handleSortChange.bind(this));
  }

  _handleSortChange(evt) {
    // Add and remove active class from buttons.
    const buttons = Array.from(evt.currentTarget.children);
    buttons.forEach((button) => {
      if (button.querySelector('input').value === evt.target.value) {
        button.classList.add('active');
      } else {
        button.classList.remove('active');
      }
    });

    // Create the sort options to give to Shuffle.
    const { value } = evt.target;
    let options = {};

    function sortByDate(element) {
      return element.getAttribute('data-created');
    }

    function sortByTitle(element) {
      return element.getAttribute('data-title').toLowerCase();
    }

    if (value === 'date-created') {
      options = {
        reverse: true,
        by: sortByDate,
      };
    } else if (value === 'title') {
      options = {
        by: sortByTitle,
      };
    }
    this.shuffle.sort(options);
  }

  // Advanced filtering
  addSearchFilter() {
    const searchInput = document.querySelector('.js-shuffle-search');
    if (!searchInput) {
      return;
    }
    searchInput.addEventListener('keyup', this._handleSearchKeyup.bind(this));
  }

  /**
   * Filter the shuffle instance by items with a title that matches the search input.
   * @param {Event} evt Event object.
   */
  _handleSearchKeyup(evt) {
    const searchText = evt.target.value.toLowerCase();
    this.shuffle.filter((element, shuffle) => {
      // If there is a current filter applied, ignore elements that don't match it.
      if (shuffle.group !== Shuffle.ALL_ITEMS) {
        // Get the item's groups.
        const groups = JSON.parse(element.getAttribute('data-groups'));
        const isElementInCurrentGroup = groups.indexOf(shuffle.group) !== -1;
        // Only search elements in the current group
        if (!isElementInCurrentGroup) {
          return false;
        }
      }
      const titleElement = element.querySelector('.picture-item__title');
      const titleText = titleElement.textContent.toLowerCase().trim();
      return titleText.indexOf(searchText) !== -1;
    });
  }
}

document.addEventListener('DOMContentLoaded', () => {
  window.demo = new Demo(document.getElementById("grid"));
});


// Script for modal
// Open the Modal
function openModal() {
  document.getElementById('myModal').style.display = "block";
}

// Close the Modal
function closeModal() {
  document.getElementById('myModal').style.display = "none";
}

var slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}

</script>





// Script for modal
// Open the Modal
function openModal() {
  document.getElementById('myModal').style.display = "block";
}

// Close the Modal
function closeModal() {
  document.getElementById('myModal').style.display = "none";
}

var slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}

// Get the modal
var modal = document.getElementById('myModal');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}

// When the user pushes escape, close it
window.onkeyup = function(event) {
  switch(event.key) {
    case "ArrowRight": // Go to the next slide
	  plusSlides(1);
	  break;
	case "ArrowLeft": //Go to the previous slide
	  plusSlides(-1);
	  break;
	case "Escape": // Pressing escape closes the modal
	  modal.style.display = "none";
	  break;
	default:
	  return; // Quit when this doesn't handle the event
  }
}

</script>

    <!-- end AJ grid -->

</div>



</div>
  </div>
  {% endblock %}
