{% load staticfiles %}
{% block footer %}

<div id="footer">
  <table>
  <div>
    <tr>
    <th>Sobre</th>
    <th></th>
    <th>Social</th>
  </tr>
  <tr>
      <td><a href="...">Personas</a></td>
	  <td><a href="https://slavicdh.aseees.hcommons.org/">GAM</a></td>

	  <td><a href="https://twitter.com/SlavicDH">twitter</a></td>

  </tr>
  <tr>
	  <td><a href="mailto:ajanco@haverford.edu">Contact</a></td>
    <td><a href="http://www.postsoviet90s.com"></a></td>
	  <td><a href="https://www.facebook.com/groups/413695302023356/">facebook</a></td>
  </tr>
  </div>
  </table>

</div>


{% endblock  %}

